{
  "arrowParens": "avoid", 
  "bracketSameLine": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 80,
  "semi": false, 
  "singleAttributePerLine": true, 
  "singleQuote": true, 
  "tabWidth": 2, 
  "trailingComma": "all", 
  "useTabs": false, 
  "plugins": ["prettier-plugin-tailwindcss"] 
}
