.silver {
    background-color: transparent;
    border: 1px solid var(--light);
    color: var(--light);
    border-radius: 1.6rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
}

.yellow {
    background-color: var(--yellow);
    color: var(--fon-color);
    border-radius: 1.6rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
}