.volume-slider {
    width: 10rem;
    height: 0.2rem;
    background-color: #FFFFFF1A;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.volume-slider-fill {
    height: 100%;
    background-color: #FACD66;
    border-radius: 3px;
}