.row-conteiner {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.menu-conteiner  {
    width: 100vw;
    height: 100vh;
    background-color: var(--fon-color);
    padding: 1rem 1rem 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}