.track-row {
    border-radius: 1em;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    background-color: var(--dark-blue);
    backdrop-filter: blur(10px);
    width: 100%;

    @media (min-width: 1170px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5rem;
    }

    @media (max-width: 1170px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}

.like-track {
    @media (max-width: 1170px) {
        display: none;
    }
}

.desc-track {
    @media (min-width: 1170px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    @media (max-width: 1170px) {
        display: none;
    }
}

.desc-track-mobile {
    @media (max-width: 1170px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    @media (min-width: 1170px) {
        display: none;
    }
}

.track-row__cover-track {
    height: 2.5rem;
}